#  CHAPTER-01: FIRST PYTHON PROGRAMMING

### 1.1 HELLO WORLD

- FUNCTION: ANYTHING ANYCLOSED WITH PARANTHESIS IS CALLED A FUNCTION
- QUOTES : QUOTES ARE MANDATORY TO PRINT THE STATEMENT

In [1]:
print(67)

67

In [2]:
67

67

In [3]:
print('hello all..!! Welcome to data science sesssion with john')

hello all..!! Welcome to data science sesssion with john

Mukul said to vinay, john's session is bit boring.

In [4]:
print("Mukul said to vinay, john's session is bit boring.")

Mukul said to vinay, john's session is bit boring.

Mukul said to vinay, "john's session is bit boring.""

In [5]:
print('''Mukul said to vinay, "john's session is bit boring."''')

Mukul said to vinay, "john's session is bit boring."

### 1.2 CREATE A VARIABLE

- participants- is a variable .
- a variable name should be created for representing a  data.In simple, creating variables means create containers to store data.After creating the variable the data in the container can be manipulaated.
- Here the index starts from 0
- method is equal to function
- len returns the no of items in the container.
- always for data filtering we use square brackets.

In [6]:
participants=['akash','arnav','arav','akhila'] #list # it is a 1-D data

In [7]:
participants

['akash', 'arnav', 'arav', 'akhila']

In [8]:
#find the length
len(participants)

4

In [9]:
# filtering the data/data manupulation

participants[2]# one element

'arav'

In [10]:
participants[2:]# printing all the values from 2.Here before colon is starting point and : indicates the end point

['arav', 'akhila']

In [11]:
participants[1:3]# ending number should be n+1

['arnav', 'arav']

# CHAPTER 02: STRING AND STRING METHODS

###   There are 3 data types in python
- 1. int - numbers without decimal point is called int 
- 2. string - anything which is enclosed with quotes is called string
- 3. Float - numbers with decimal point is called float

#### 2.1 What is a string?

In [12]:
anavidhya_avg_scores='99.99'

In [13]:
type(anavidhya_avg_scores)

str

In [14]:
anavidhya_avg_scores=99.99

In [15]:
type(anavidhya_avg_scores)

float

In [16]:
anavidhya_avg_scores=99

In [17]:
type(anavidhya_avg_scores)

int

#### 2.2  CONCATENATION - INDEXING - SLICING

In [18]:
fname='arnav '
lname ='singh '
age=24

In [19]:
fname,lname

('arnav ', 'singh ')

In [20]:
print(fname) # variable name should not be given quotes
print(lname)

arnav
singh

In [21]:
#CONCATENATION - STRING
print(fname+' '+lname+' '+str(age)) 

#TYPE CASTING - converting one variable type to another variable type

arnav  singh  24

In [22]:
print(fname,lname,age)

arnav  singh  24

In [23]:
print('FNAME:',fname,'LNAME:',lname,'AGE:',age)

FNAME: arnav  LNAME: singh  AGE: 24

In [24]:
#ESCAPE SEQUENCE -TAKING TO A NEWER LINE
print('FNAME:',fname,'\nLNAME:',lname,'\nAGE:',age)

FNAME: arnav
LNAME: singh
AGE: 24

In [25]:
# INDEXING AND SCLICING

fullname='kushikumari'
len(fullname)

11

In [26]:
fullname[5:]

'kumari'

In [27]:
fullname[:10]# POSITIVE INDEXING - excliding the last element

'kushikumar'

In [28]:
fullname[:-1]# negative indexing - excluding the last element

'kushikumar'

In [29]:
participants

['akash', 'arnav', 'arav', 'akhila']

In [30]:
participants[:-2]# excluding the last to elements

['akash', 'arnav']

### 2.3 MANIPULATE STRING WITH METHODS

##### TERMINOLOGY ALERT

**methods/ functions both are  similar terms.**

Q: when to go for methods?

A: **To perform some operations on top of the variable**


*NOTE: method always end with ()*

In [31]:
learner_1='sanjay'
learner_2='   aman'
learner_3='sAdHaam'
learner_4='      saran kumar    '

In [32]:
len(learner_1),len(learner_2),len(learner_3),len(learner_4)

(6, 7, 7, 21)

In [33]:
#As the data is not propor .We perform data cleaning.so here we use string functions.

learner_1.upper()

'SANJAY'

In [34]:
learner_2.lstrip()

'aman'

In [35]:
learner_3.lower()

'sadhaam'

In [36]:
learner_4.strip()

'saran kumar'

In [37]:
# hereabove the operation is performed to a certain cell only.
# so the operation should be stored inside a variable as below.

In [38]:
learner_1=learner_1.upper()

In [39]:
learner_2=learner_2.lstrip()

In [40]:
learner_3=learner_3.lower()

In [41]:
learner_4=learner_4.strip()

In [42]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)
len(learner_1),len(learner_2),len(learner_3),len(learner_4)

SANJAY
aman
sadhaam
saran kumar

(6, 4, 7, 11)

In [43]:
len(learner_1),len(learner_2),len(learner_3),len(learner_4)

(6, 4, 7, 11)

###  DAILY TASK -01

COME UP WITH 2 EXAMPLES WITH  STRING METHOS


TIMELINE- EOD

### 2.4 INTERACT WITH USER INPUT

In [44]:
user_input=input("enter your password :")

enter your password :Hello

### 2.5 PICKUP THE PART OF USER INPUT

In [45]:
print('first letter starts with:',user_input[0])

first letter starts with: H

######  NOTE
- dont create a variable with keywords
- dont start a variable name with upper case
- give a meaningful variable name

### 2.6 QUICK EXERCISE TO GET 2 INPUT FROM THE USER AND DISPLAY

In [46]:
# using comma operator

user_input1=input("enter your password :")
user_input2=input("enter your password :")
print(user_input1,user_input2)

enter your password :Hello
enter your password :ALL
Hello ALL

In [47]:
# using place holders 

user_name=input("enter your name:")
user_age = input('enter your age:')
print('NAME IS:{} AND\nAGE IS {}'.format(user_name,user_age))

enter your name:KUSHI
enter your age:30
NAME IS:KUSHI AND
AGE IS 30

In [48]:
user_name=input("enter your name:")
user_age = input('enter your age:')
print('NAME IS:{} AND AGE IS {}'.format(user_name,user_age))

enter your name:kushi
enter your age:30
NAME IS:kushi AND AGE IS 30

###  CHAPTER 03- NUMBERS IN PYTHON

In [49]:
user_marks=input('enter your marks:')
print('your marks is',user_marks)

enter your marks:100
your marks is 100

In [50]:
print('your marks is',user_marks)

your marks is 100

In [51]:
type(user_marks)

str

In [52]:
user_marks2=int(input('enter your marks:'))
print('your marks is',user_marks2)

enter your marks:-100
your marks is -100

In [53]:
type(user_marks2)

int

In [54]:
user_marks3=int(input('enter your marks:'))
print('your marks is',abs(user_marks3))

enter your marks:-100
your marks is 100

In [55]:
type(user_marks3)

int